global
  log stdout format raw local0
  maxconn 2048

defaults
  log global
  mode http
  option httplog
  timeout connect 5s
  timeout client  60s
  timeout server  60s
  timeout check   5s

frontend rhsso_front
  bind *:9080
  default_backend rhsso_node

backend rhsso_node
  option httpchk GET /auth/realms/master
  http-check expect status 200
  server rhsso1 127.0.0.1:8080 check inter 5s fall 3 rise 2
